# Node modules e arquivos de build
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente e arquivos de configuração sensíveis
.env
